.container {
    /* height: 300px; */
    border: 1px solid black;
    padding: 20px 35px;
    position: relative;
    margin-bottom: 60px;
}

.containerHeader1 {
    position: absolute;
    top: -12px;
    left: 8px;
    padding: 0px 12px;
    background: #F8F8F8;
    cursor: pointer;
}

.containerHeader1Active {
    position: absolute;
    top: -12px;
    left: 8px;
    padding: 0px 12px;
    background: #F8F8F8;
    font-weight: 600;
}

.containerHeader2 {
    position: absolute;
    top: -12px;
    left: 216px;
    padding: 0px 12px;
    background: #F8F8F8;
    cursor: pointer;
}

.containerHeader2Active {
    position: absolute;
    top: -12px;
    left: 216px;
    padding: 0px 12px;
    background: #F8F8F8;
    font-weight: 600;
}

.containerHeader3 {
    position: absolute;
    top: -12px;
    left: 424px;
    padding: 0px 12px;
    background: #F8F8F8;
    cursor: pointer;

}

.containerHeader3Active {
    position: absolute;
    top: -12px;
    left: 424px;
    padding: 0px 12px;
    background: #F8F8F8;
    font-weight: 600;
}

.containerHeader4 {
    position: absolute;
    top: -12px;
    left: 632px;
    padding: 0px 12px;
    background: #F8F8F8;
    cursor: pointer;

}

.containerHeader4Active {
    position: absolute;
    top: -12px;
    left: 632px;
    padding: 0px 12px;
    background: #F8F8F8;
    font-weight: 600;
}

.listWithInputContainer {
    display: flex;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.input {
    width: 200px;
}

.modal {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 280px;
    background-color: #F8F8F8;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    align-self: flex-end;
}

.addButton {
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-left: 25px !important;
    width: 90px;
    height: 40px;
}

.closeButton {
    border-radius: 0px;
    width: 90px;
    height: 40px;
    border-radius: 0px !important;

}

.containerAddButton {
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-left: 25px !important;
    width: 90px;
    height: 40px;
    position: absolute !important;
    right: 25px;
    bottom: 15px;
}

.activityInputContainer {
    display: flex;
}

.timePicker {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 136px;
    justify-content: space-between;
}

.dayPicker {
    margin-left: 24px;
}

.lecturerLabelContainer {
    padding-top: 15px;
}

.lecturerDayContainer {
    display: flex;
}

.lecturerTimePickerContainer {
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between;
    margin-right: 15px;
}

.unavailableHeader {
    height: 40px;
    line-height: 60px;
    border-bottom: 1px solid #64748B;
}