.container {
    height: 300px;
    border: 1px solid black;
    padding: 20px 35px;
    position: relative;
    margin-bottom: 60px;
}

.containerHeader {
    position: absolute;
    top: -12px;
    left: 8px;
    padding: 0px 12px;
    background: #F8F8F8;
}

.listWithInputContainer {
    display: flex;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.input {
    width: 200px;
}

.modal {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 280px;
    background-color: #F8F8F8;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    align-self: flex-end;
}

.addButton {
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-left: 25px !important;
    width: 90px;
    height: 40px;
}

.closeButton {
    border-radius: 0px;
    width: 90px;
    height: 40px;
    border-radius: 0px !important;

}

.containerAddButton {
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-left: 25px !important;
    width: 90px;
    height: 40px;
    position: absolute !important;
    right: 25px;
    bottom: 15px;
}