.solutionPage {
  margin: 0px 55px;
}

.solveButton {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  border-radius: 0px !important;
  width: 142px;
}

.importButton {
  position: fixed !important;
  bottom: 70px;
  right: 20px;
  border-radius: 0px !important;
  width: 142px;
}

.exportButton {
  position: fixed !important;
  bottom: 120px;
  right: 20px;
  border-radius: 0px !important;
  width: 142px;
}

.noSolution {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.noSolutionSub {
  font-size: 16px;
}

.optionsContainer {
  display: flex;
  justify-content: flex-end;
  line-height: 40px;
  font-weight: 200;
}

.titlesContainer {
  display: flex;
  font-size: 38px;
  height: 40px;
  line-height: 38px;

  margin-bottom: 15px;
}

.moduleTitle {
}

.subtitlesContainer {
  padding-left: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  height: 40px;
}

.roomTitle {
  font-size: 18px;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
}

.lecturerTitle {
  font-size: 18px;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
}

.timeslot {
  display: grid;
  grid-template-columns: 6fr 1fr 12fr 12fr 12fr 12fr 12fr;
  text-align: center;
  position: relative;
  margin-bottom: 48px;
}

.timeSlotHeader {
  color: #64748b;
  height: 40px;
  border-left: 1px solid rgb(218, 220, 224) !important;
  border-radius: 0px !important;
  line-height: 40px;
}

.borderLine {
  border-top: 1px solid rgb(218, 220, 224);
}

.timeSlotCell {
  color: white !important;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotCellChecked {
  color: white !important;
  background-color: #64748b;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotLastCell {
  color: white !important;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotLastCellChecked {
  color: white !important;
  background-color: #64748b;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotCellChecked2 {
  color: white !important;
  background-color: #465761;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotLastCellChecked2 {
  color: white !important;
  background-color: #465761;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotCellChecked3 {
  color: white !important;
  background-color: #8b6477;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotLastCellChecked3 {
  color: white !important;
  background-color: #8b6477;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotCellChecked4 {
  color: white !important;
  background-color: #614653;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotLastCellChecked4 {
  color: white !important;
  background-color: #614653;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotCellChecked5 {
  color: white !important;
  background-color: #8b8764;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeSlotLastCellChecked5 {
  color: white !important;
  background-color: #8b8764;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
}

.timeHeader {
  position: relative;
}

.timeHeaderValue {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
}

.activityHeader {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 2px;
  font-weight: 100;
}

.activityValue {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 10px;
}

.roomHeader {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 2px;
  font-weight: 100;
}

.roomValue {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 10px;
}

.timeSlotCellCheckedCombined {
  overflow-x: hidden;
  color: white !important;
  background-color: #64748b;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;
  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotCellCheckedCombined:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotLastCellCheckedCombined {
  overflow-x: hidden;
  color: white !important;
  background-color: #64748b;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;
  border-left: 1px solid rgb(218, 220, 224) !important;
  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotLastCellCheckedCombined:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotCellCheckedCombined2 {
  overflow-x: hidden;
  color: white !important;
  background-color: #465761;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;
  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotCellCheckedCombined2:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotLastCellCheckedCombined2 {
  overflow-x: hidden;
  color: white !important;
  background-color: #465761;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;
  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotLastCellCheckedCombined2:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotCellCheckedCombined3 {
  overflow-x: hidden;
  color: white !important;
  background-color: #8b6477;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;
  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotCellCheckedCombined3:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotLastCellCheckedCombined3 {
  overflow-x: hidden;
  color: white !important;
  background-color: #8b6477;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotLastCellCheckedCombined3:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotCellCheckedCombined4 {
  overflow-x: hidden;
  color: white !important;
  background-color: #614653;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotCellCheckedCombined4:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotLastCellCheckedCombined4 {
  overflow-x: hidden;
  color: white !important;
  background-color: #614653;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotLastCellCheckedCombined4:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotCellCheckedCombined5 {
  overflow-x: hidden;
  color: white !important;
  background-color: #8b8764;
  border-radius: 0px !important;
  min-height: 60px;
  line-height: 60px;
  border-left: 1px solid rgb(218, 220, 224) !important;
  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotCellCheckedCombined5:hover {
  width: 500%;
  z-index: 1;
}

.timeSlotLastCellCheckedCombined5 {
  overflow-x: hidden;
  color: white !important;
  background-color: #8b8764;
  min-height: 60px;
  line-height: 60px;
  border-radius: 0px !important;
  border-right: 1px solid rgb(218, 220, 224) !important;

  border-left: 1px solid rgb(218, 220, 224) !important;

  border-top: 1px solid rgb(218, 220, 224) !important;
  width: 100%;
  transition: 0.3s;
}

.timeSlotLastCellCheckedCombined5:hover {
  width: 500%;
  z-index: 1;
}

.multipleCell {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}

.modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 290px;
  background-color: #f8f8f8;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
  justify-content: space-between;
}

.formFileUpload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

.inputFileUpload {
  display: none;
}

.labelFileUpload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

.labelFileUploaded {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: #64748b;
  background-color: #edf5ff;
}

.dragActive {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #ffffff;
}

.fileUploadIcon {
  height: 120px !important;
  width: 120px !important;
}

.uploadButton {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.uploadButton:hover {
  text-decoration-line: underline;
}

.dragFileElement {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.buttonContainer {
  display: flex;
  align-self: flex-end;
  margin-top: 10px;
}

.closeButton {
  border-radius: 0px;
  width: 90px;
  height: 40px;
  border-radius: 0px !important;
}

.containerResetButton {
  border-radius: 0px !important;
  width: 90px;
  height: 40px;
  position: fixed !important;
  left: 25px;
  bottom: 15px;
}
